body, tr  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

table  {
    border-collapse: collapse;
	width: 99%;
}
#tabBody tr, .oclock {
    border-top: 1pt solid black;
}
#sortable thead tr  {
    cursor: pointer;
}
th {
    font-weight:normal;
    border-bottom: 2pt solid black;
}
button{
	margin-top: 5px;
}
#logo-image  {
    height: 70px; 
}
#overlay{
	width: 75%;
	position: fixed;
	top:15%;
	left:15%;
	height: 75%;
	background-color: white;
	border: 0;
	opacity: 1;
}
#overlayBack{
	position: fixed;
	display: none;
	width:100%;
	height: 100%;
	background-color: gray;
	opacity:0.5;
	top:0;
	left:0;
}
#credits{
	position: absolute;
	left: 20px;
	top: 0px;
}
#rate{
	position: absolute;
	right: 20px;
	top: 0px;
	padding: 8px;
	background: linear-gradient(90deg, rgb(200,200,200) 20%, rgb(130, 130, 130) 20%);
    border: 1pt solid black;
}
#fillTXT{
	padding: 5px;
	background: linear-gradient(90deg, rgb(130,130,130) 0%, rgb(255, 00, 00) 0%);
    border: 1pt solid black;
	width:25%;
	height:20px;
	margin: auto;
    font-weight:bolder;
}
.Hide {
	display: none;
}
.up {
	font-weight:bold;
}
.Add {
	margin-top: 2px;
	margin-bottom: 2px;  
}
.sched {
	background-color: rgb(184,107,43);
}
 @media screen and (max-width: 1795px) and (min-width: 1655px)  {
		.priority-1 {
			display:none;
		}
	}	
@media screen and (max-width: 1655px) and (min-width: 1465px)  {
	.priority-1, .priority-2 {
		display:none;
	}
}	
@media screen and (max-width: 1465px) and (min-width: 1415px)  {
	.priority-1, .priority-2, .priority-3 {
		display:none;
	}
}	
@media screen and (max-width: 1415px)  and (min-width: 1195px)  {
	.priority-1, .priority-2, .priority-3, .priority-4 {
		display:none;
	}
}	
@media screen and (max-width: 1195px)  and (min-width: 955px)  {
	.priority-1, .priority-2, .priority-3, .priority-4, .priority-5  {
		display:none;
	}
}	
@media screen and (max-width: 955px)  and (min-width: 635px)  {
	.priority-1, .priority-2, .priority-3, .priority-4, .priority-5, .priority-6   {
		display:none;
	}
}
@media screen and (max-width: 635px)  and (min-width: 575px)  {
	.priority-1, .priority-2, .priority-3, .priority-4, .priority-5, .priority-6, .priority-7   {
		display:none;
	}
}
@media screen and (max-width: 575px)  and (min-width: 500px)  {
	.priority-1, .priority-2, .priority-3, .priority-4, .priority-5, .priority-6, .priority-7, .priority-8   {
		display:none;
	}
}
@media screen and (max-width: 500px)  and (min-width: 380px)  {
	.priority-1, .priority-2, .priority-3, .priority-4, .priority-5, .priority-6, .priority-7, .priority-8, .priority-9 {
		display:none;
	}
}
@media screen and (max-width: 380px)  and (min-width: 290px)  {
	.priority-1, .priority-2, .priority-3, .priority-4, .priority-5, .priority-6, .priority-7, .priority-8, .priority-9, .priority-10 {
		display:none;
	}
}
@media screen and (max-width: 290px)  {
	.priority-1, .priority-2, .priority-3, .priority-4, .priority-5, .priority-6, .priority-7, .priority-8, .priority-9, .priority-10, .priority-11 {
		display:none;
	}
}
